:root
{
	--body: #404258;
	--content: #50577A;
	--header: #ffffff;
	--line: #c4c4c4;
	--text: #DDE6ED;
	--bright: 0.875;
	--toggle: #e0e0e0;
	--button: #222222;
	--movement: 0px;
}

.light-mode
{
	--body: #ffffff;
	--content: #e594e7;
	--header: #000000;
	--line: #505050;
	--text: #32364b;
	--bright: 0.95;
	--toggle: #222222;
	--button: #e0e0e0;
	--movement: 20px;
}

*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	top: 0;
	height: 100vh;
	overflow: auto;
    background-color: var(--body);
	font-family: "JetBrains Mono", monospace;
}

a
{
	text-decoration: underline var(--ani);
	color: var(--ani);
}

#container
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: var(--text);
}

#box
{
	display: flex;
	flex-direction: row;
}

#avatar
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 450px;
	border-radius: 10px 10px 10px 10px;
	filter: brightness(var(--bright));
}

#content
{
	position: relative;
	top: 15px;
	height: 420px;
	width: 450px;
	background-color: var(--content);
	border-radius: 0px 15px 15px 0px;
}

#name
{
	position: relative;
	top: 15px;
	left: 22.5px;
	font-size: 28px;
	font-weight: bold;
	color: var(--header);
}

#article
{
	position: relative;
	top: 12px;
	left: 22.5px;
	width: 400px;
}

#line
{
	height: 2px;
	background-color: var(--line);
}

#job
{
	display: flex;
	gap: 75px;
	font-size: 20px;
	font-weight: bold;
	color: var(--header);
}

.des
{
	font-size: 16px;
}

#contact
{
	position: relative;
	bottom: -56px;
	display: flex;
	gap: 25px;
	align-items: center;
	justify-content: center;
}

.icon
{
	width: 40px;
	height: 40px;
	transition: transform 0.5s;
}

.icon:hover
{
	transform: scale(1.1);
}

#button
{
	position: absolute;
	right: 16px;
	top: 16px;
	width: 40px;
	height: 20px;
	border-radius: 15px 15px 15px 15px;
	background-color: var(--toggle);
}

#toggle-button
{
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
    border: none;
	border-radius: 50%;
	background-color: var(--button);
	transition: transform 0.3s ease;
}

.left
{
	transform: translateX(var(--movement));
}
  
.right
{
	transform: translateX(var(--movement));
}
